.body {
    height: 100vh;
}

.nav-bar {
    width: 100%;
    margin: 0px;
    padding: 1.5rem;
    background: rgba(39, 76, 119, 1);
    color: white;
    position: relative;
}

.nav-h1 {
    font-size: 40px;
    font-weight: 700;
    font-family: 'Raleway' ;
    display: inline;
}

.h2 {
    font-size: 40px;
    font-weight: 500;
    font-family: 'Raleway' ;
    display: inline;
}

#home-button {
    padding: .75rem;
    float: right;
    background: white;
    color: black;
    position: relative;
    width: 15%;
    text-align: center;
}

#page-container {
    width: 100%;
    margin: 0px;
}

a.nav-link {
    color: black;
}

#admin-sidebar {
    border: solid;
    border-color: black;
    border-width: 0px 2.5px 0px 2.5px;
    height: 100%; 
}

.sidebar-link {
    font-family: 'lato';
    font-weight: 300;
    color: black;
    font-size: 20px;
}

.sidebar-link:active {
    font-family: 'lato';
    font-weight: 400;
    color: #696969;
    font-size: 20px;
}

th {
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 20px;
    color: #696969;
}

td {
    font-family: 'Lato';
    font-weight: 400;
    color: black;
    font-size: 16px;
}

a.listingTitle:hover {
    color: blue;
    text-decoration: underline;
}

a.pendingTitle:hover {
    color: blue;
    text-decoration: underline;
}

a.claimsTitle:hover {
    color: blue;
    text-decoration: underline;
}
