body {
    background: #f9f9f9;
}

#back-button {
    background: #1f7a8c;
    font-family: "lato", sans-serif;
    font-weight: 400;
    font-size: 20px;
    height: 101%;
    display: table;
    width: 100%;
  }

  #back-column {
    padding: 0px;
  }

  #title-column {
      padding: 1.5rem;
  }

  #free-col {
      border: solid;
      border-width: 5px;
      border-radius: 20px;
      border-color: #1f7a8c;
      padding: 1rem;
      margin: 1rem;
  }

  #light-col {
    border: solid;
    border-width: 5px;
    border-radius: 20px;
    border-color: #1f7a8c;
    padding: 1rem;
    margin: 1rem;
}

#standard-col {
    border: solid;
    border-width: 5px;
    border-radius: 20px;
    border-color: #1f7a8c;
    padding: 1rem;
    margin: 1rem;
}

#premium-col {
    border: solid;
    border-width: 5px;
    border-radius: 20px;
    border-color: #1f7a8c;
    padding: 1rem;
    margin: 1rem;
}

  #free-header-col {
      background: #1f7a8c;
  }

  .plan-header {
      font-family: 'Raleway';
      font-weight: 700;
      font-size: 45px;
      color: white;
      text-align: center;
      margin-bottom: .5rem;
  }

  .plan-text {
      font-family: 'Lato';
      font-weight: 300;
      font-size: 20px;
      color: white;
      text-align: center;
  }

  .price-text {
    font-family: 'Lato';
    font-weight: 300;
    font-size: 20px;
    color: white;
    text-align: center;
}

  .list-text {
      font-family: 'Lato';
      font-weight: 300;
      font-size: 16px;
      color: black;
  }

  #back-p {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    background: #f9f9f9;
    color: #1f7a8c;
    padding: 0.5rem;
  }

 