#side-menu {
    height: 90vh;
    margin: 0px; 
}

#page-container {
    width: 100%; 
    padding: 2.5rem;
    padding-top: 0rem;
}

.tab-div {
    border: solid;
    border-width: 5px;
    border-color: rgba(39, 76, 119, 1);
    background: 'black';
    padding: 5rem;
    height: 100%;
}

.h1 { 
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 40px;
    color: black;
}

.h2 {
    font-family: 'Lato';
    font-weight: 100;
    font-size: 25px;
    color: black;
}

#navbar {
    padding: .5rem;
    background: rgba(39, 76, 119, 1);
    color: white;
}

.submit-button {
    padding: 1rem;
    padding-right: 2rem;
    padding-left: 2rem;
    background: white;
    color: rgba(39, 76, 119, 1);;
    text-align: center;
    font-family: 'Lato' sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.tab-div {
    font-family: 'Raleway' sans-serif;
    font-weight: 300;
    font-size: 18px;
}

#listings-grid {
    padding: 2rem;
    padding-top: 0rem;
}

#profile-grid {
    padding: 2rem;
    padding-bottom: 0px;
    padding-left: 0px;
}

#billing-tab {
    font-family: 'Raleway' sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: rgba(39, 76, 119, 1);
}

#profile-tab {
    font-family: 'Raleway' sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: rgba(39, 76, 119, 1);
}

#profile-form {
    border: solid;
    border-width: 5px;
    border-color: rgba(39, 76, 119, 1);
    padding: 1rem;
}

#labels-1 {
    font-size: 20px;
    font-family: 'Lato';
    font-weight: 300;
}

.form-header {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 20px;
    margin: .25rem;
}

.listingItem {
    border: solid;
    border-color: rgba(39, 76, 119, 1);
    border-width: 2px;
    padding: 2rem;
    position: relative;
}

.listingTitle {
    font-family: 'Raleway';
    font-weight: 700;
    color: rgba(39, 76, 119, 1);
    display: inline;
    font-size: 20px;
}

.listingSubtitle {
    font-family: 'Raleway';
    font-weight: 300;
    font-size: 16p;
    color: grey;
}

.listing-buttons {
    padding: 1rem;
    background: rgba(39, 76, 119, 1);
    color: white;
    margin: .5rem;
    text-align: center;
}

#dashboard-tab-menu {
    margin-top: 0rem;
}

/* #first_name {
    font-size: 20px;
    font-weight: 100;
    font-family: 'Lato' sans-serif;
}

#last_name {
    font-size: 20px;
    font-weight: 100;
    font-family: 'Lato' sans-serif;
}

#phone {
    font-size: 20px;
    font-weight: 100;
    font-family: 'Lato' sans-serif;
}

#email {
    font-size: 20px;
    font-weight: 100;
    font-family: 'Lato' sans-serif;
}

#instagram {
    font-size: 20px;
    font-weight: 100;
    font-family: 'Lato' sans-serif;
}

#youtube {
    font-size: 20px;
    font-weight: 100;
    font-family: 'Lato' sans-serif;
}

#twitter {
    font-size: 20px;
    font-weight: 100;
    font-family: 'Lato' sans-serif;
}

#linkedin {
    font-size: 20px;
    font-weight: 100;
    font-family: 'Lato' sans-serif;
}

#about {
    font-size: 20px;
    font-weight: 100;
    font-family: 'Lato' sans-serif;
}

#facebook {
    font-size: 20px;
    font-weight: 100;
    font-family: 'Lato' sans-serif;
}

#website {
    font-size: 20px;
    font-weight: 100;
    font-family: 'Lato' sans-serif;
} */

.userInfo {
    font-family: 'Lato';
    font-weight: 300;
    color: #696969;
    font-size: 18px;
}

.listing-menu {
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 30px;
    color: black;
}

.menu-item-dash {
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 25px;
    color: #696969;
}

 #admin-form {
	font-family: 'Open Sans Condensed', arial, sans;
	padding: 30px;
	background: #FFFFFF;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);

}

.image {
    position: relative;
    display: block;
    height: 200px;
    width: auto;
  }
  
  .overlay {
    position: absolute;
    left: 0;
    z-index: 5;
  }

  div.other-image-display {
    position: relative;
    display: inline-block;
    height: 200px;
    width: auto;
    /* max-width: 50%; */
    margin: .5rem;
    clear: left;
  }

  #other-append {
      margin-top: .5rem;
  }

  #other-image-append {
    display: table;
  }

  .form-headers {
    font-size: 25px;
    font-family: 'Lato' sans-serif;
    font-weight: 300;
    color: #696969;
  }

  #map-container {
      position: relative;
      height: 35vh;
  }

  #map{
    height: 100%;
}

.input_text {
    font-family: 'lato';
    font-weight: 300;
    font-size: 16px;
}

.upgrade-text {
    font-family: 'lato';
    font-weight: 400;
    font-size: 14px;
    color: red;
}

a {
    cursor: pointer;
}
