.form-container {
    border: solid;
    border-width: 5px;
    border-color: rgba(39, 76, 119, 1);
    width: 50%;
    margin: 0 auto;
    padding: 2.5rem;
}

.formHeader {
    font-size: 35px;
    font-family: 'Montserrat' ;
    font-weight: 700;
    color: rgba(39, 76, 119, 1);
}