body {
    width: 100%;
    background: #1f7a8c;
background: -webkit-linear-gradient(left, #1f7a8c, #79bcb8);
background: -moz-linear-gradient(left, #1f7a8c, #79bcb8);
background: -ms-linear-gradient(left, #1f7a8c, #79bcb8);
background: -o-linear-gradient(left, #1f7a8c, #79bcb8);
background: linear-gradient(to right, #1f7a8c, #79bcb8);
}

#form-page-container {
    margin: 0px;
    width: 100%;
    margin-bottom: 1rem;
}

#form-1 {
    margin: 0 auto; 
    border: solid; 
    border-width: .5rem;
    padding: 2.5rem;
    border-color: #1F7A8C;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    border-radius: 15px;
    background: #f9f9f9;
    /* box-shadow: 5px 5px 5px 5px #696969; */
    border: 1px solid #696969;
    box-shadow:  -1px 1px #696969,
         -2px 2px #696969,
         -3px 3px #696969,
         -4px 4px #696969,
         -5px 5px #696969;
    /* display: none; */
}

#form-2 {
    width: 75%;
    background: #f9f9f9;
    margin: 0 auto; 
    border: solid; 
    border-width: .5rem;
    padding: 2.5rem;
    border-color: #1F7A8C;
    margin-top: 2.5rem;
    display: none;
    margin-bottom: 2.5rem;
    border-radius: 15px;
    border: 1px solid #696969;
    box-shadow:  -1px 1px #696969,
         -2px 2px #696969,
         -3px 3px #696969,
         -4px 4px #696969,
         -5px 5px #696969;
}

#form-3 {
    background: #f9f9f9;
    margin: 0 auto; 
    border: solid; 
    border-width: .5rem;
    padding: 2.5rem;
    border-color: #1F7A8C;
    margin-top: 2.5rem;
    display: none;
    margin-bottom: 2.5rem;
    border-radius: 15px;
    border: 1px solid #696969;
    box-shadow:  -1px 1px #696969,
         -2px 2px #696969,
         -3px 3px #696969,
         -4px 4px #696969,
         -5px 5px #696969;
}

#form-4 {
    background: #f9f9f9;
    margin: 0 auto; 
    border: solid; 
    border-width: .5rem;
    padding: 2.5rem;
    border-color: #1F7A8C;
    margin-top: 2.5rem;
    display: none;
    margin-bottom: 2.5rem;
    border-radius: 15px;
    border: 1px solid #696969;
    box-shadow:  -1px 1px #696969,
         -2px 2px #696969,
         -3px 3px #696969,
         -4px 4px #696969,
         -5px 5px #696969;
}

#form-5 {
    background: #f9f9f9;
    margin: 0 auto; 
    border: solid; 
    border-width: .5rem;
    padding: 2.5rem;
    border-color: #1F7A8C;
    margin-top: 2.5rem;
    display: none;
    margin-bottom: 2.5rem;
    border-radius: 15px;
    border: 1px solid #696969;
    box-shadow:  -1px 1px #696969,
         -2px 2px #696969,
         -3px 3px #696969,
         -4px 4px #696969,
         -5px 5px #696969;
}

#form-6 {
    width: 50%;
    background: #f9f9f9;
    margin: 0 auto; 
    border: solid; 
    border-width: .5rem;
    padding: 2.5rem;
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
    border-color: #1F7A8C;
    margin-top: 2.5rem;
    display: none;
    margin-bottom: 2.5rem;
    border-radius: 15px;
    border: 1px solid #696969;
    box-shadow:  -1px 1px #696969,
         -2px 2px #696969,
         -3px 3px #696969,
         -4px 4px #696969,
         -5px 5px #696969;
}

#form-7 {
    background: #f9f9f9;
    margin: 0 auto; 
    border: solid; 
    border-width: .5rem;
    padding: 2.5rem;
    border-color: #1F7A8C;
    margin-top: 2.5rem;
    display: none;
    margin-bottom: 2.5rem;
    border-radius: 15px;
    border: 1px solid #696969;
    box-shadow:  -1px 1px #696969,
         -2px 2px #696969,
         -3px 3px #696969,
         -4px 4px #696969,
         -5px 5px #696969;
}

#labels-1 {
    font-size: 25px;
    font-family: 'Lato' sans-serif;
    font-weight: 300;
    color: #696969;
}

.form-h1 {
    font-size: 50px;
    font-weight: 700;
    font-family: 'Raleway';
    text-align: center;
    color: #696969;
}

.form-h3 {
    font-size: 25px;
    font-weight: 300;
    font-family: 'Lato';  
}

.form-info {
    font-family: 'Lato';
    font-weight: 500;
    font-size: 18px;
    color: #696969;
}

#back-button {
    padding: .75rem;
    float: right;
    background: white;
    color: black;
    position: relative;
    width: 15%;
    text-align: center;
}

#footer {
    width: 100%;
    background: #1F7A8C;
    padding: 1rem;
    color: white;
    text-align: center;
}

.bread {
    font-size: 20px;
    font-family: 'Lato' sans-serif;
    font-weight: 500;
}

.submit-button {
        padding: 1rem;
        padding-right: 2rem;
        padding-left: 2rem;
        background: #1F7A8C;;
        color: white;
        width: 45%;
        margin-left: 1rem;
        display: inline-block;
        text-align: center;
        font-family: 'Lato' sans-serif;
        font-weight: 300;
        font-size: 18px;
}

.prev-button {
    padding: 1rem;
    padding-right: 2rem;
    padding-left: 2rem;
    background: #70b891;
    color: white;
    width: 45%;
    margin: 1rem;
    margin-right: .5rem;
    display: inline-block;
    text-align: center;
    font-family: 'Lato' sans-serif;
    font-weight: 300;
    font-size: 18px;
}

#back-button {
    background: #f9f9f9;
    font-family: "lato", sans-serif;
    font-weight: 400;
    font-size: 20px;
    height: 101%;
    display: table;
    width: 100%;
  }

  #back-column {
    padding: 0px;
  }

  #progress-bar {
      margin-bottom: 0px;
      position: fixed;
      bottom: 0rem;

  }

  #back-p {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    background: #f9f9f9;
    color: #1f7a8c;
    padding: 0.5rem;
  }

  li.progress {
      font-family: 'Lato';
      font-weight: 400;
      font-size: 18px;
      letter-spacing: .15em;
      color: #696969;
  }

  /* progress bar  */
  #progressbar {
    /* margin-bottom: 30px; */
    padding-bottom: 2.5rem;
    padding-top: 2.5rem;
    margin-bottom: 0px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li {
	list-style-type: none;
	color: #f9f9f9;
	text-transform: uppercase;
	width: 14%;
	float: left;
    position: relative;
    text-align: center;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
    width: 35px;
    padding: .5rem;
	line-height: 20px;
	display: block;
	color: #696969;
	background: white;
	border-radius: 3px;
	margin: 0 auto 0 auto;
}
/*progressbar connectors*/
#progressbar li:after {
    content: '';
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #70b891;
	color: white;
}

.image {
    position: relative;
    display: block;
    height: 200px;
    width: auto;
  }
  
  .overlay {
    position: absolute;
    left: 0;
    z-index: 5;
  }

  div.other-image-display {
    position: relative;
    display: inline-block;
    height: 200px;
    width: auto;
    /* max-width: 50%; */
    margin: .5rem;
    clear: left;
  }

  #other-append {
      margin-top: .5rem;
  }

  #other-image-append {
    display: table;
  }

  .form-headers {
    font-size: 25px;
    font-family: 'Lato' sans-serif;
    font-weight: 300;
    color: #696969;
  }