#form-page-container {
    margin: 0px;
    width: 100%;
    margin-bottom: 1rem;
}

#form-1 {
    width: 50%; 
    margin: 0 auto; 
    border: solid; 
    border-width: .5rem;
    padding: 2.5rem;
    border-color: #1F7A8C;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    border-radius: 15px;
    /* display: none; */
}

#form-2 {
    width: 65%; 
    margin: 0 auto; 
    border: solid; 
    border-width: .5rem;
    padding: 2.5rem;
    border-color: #1F7A8C;
    margin-top: 2.5rem;
    display: none;
    margin-bottom: 2.5rem;
    border-radius: 15px;
}

#form-3 {
    width: 50%; 
    margin: 0 auto; 
    border: solid; 
    border-width: .5rem;
    padding: 2.5rem;
    border-color: #1F7A8C;
    margin-top: 2.5rem;
    display: none;
    margin-bottom: 2.5rem;
    border-radius: 15px;
}

#form-4 {
    width: 50%; 
    margin: 0 auto; 
    border: solid; 
    border-width: .5rem;
    padding: 2.5rem;
    border-color: #1F7A8C;
    margin-top: 2.5rem;
    display: none;
    margin-bottom: 2.5rem;
    border-radius: 15px;
}

#form-5 {
    width: 50%; 
    margin: 0 auto; 
    border: solid; 
    border-width: .5rem;
    padding: 2.5rem;
    border-color: #1F7A8C;
    margin-top: 2.5rem;
    display: none;
    margin-bottom: 2.5rem;
    border-radius: 15px;
}

#form-6 {
    width: 50%; 
    margin: 0 auto; 
    border: solid; 
    border-width: .5rem;
    padding: 2.5rem;
    border-color: #1F7A8C;
    margin-top: 2.5rem;
    display: none;
    margin-bottom: 2.5rem;
    border-radius: 15px;
}

#form-7 {
    width: 50%; 
    margin: 0 auto; 
    border: solid; 
    border-width: .5rem;
    padding: 2.5rem;
    border-color: #1F7A8C;
    margin-top: 2.5rem;
    display: none;
    margin-bottom: 2.5rem;
    border-radius: 15px;
}

#labels-1 {
    font-size: 25px;
    font-family: 'Lato' sans-serif;
    font-weight: 300;
    color: #696969;
}

.form-h1 {
    font-size: 50px;
    font-weight: 700;
    font-family: 'Raleway';
    text-align: center;
    color: #696969;
}

.form-h3 {
    font-size: 25px;
    font-weight: 300;
    font-family: 'Lato';  
}

.form-info {
    font-family: 'Lato';
    font-weight: 500;
    font-size: 18px;
    color: #696969;
}

#back-button {
    padding: .75rem;
    float: right;
    background: white;
    color: black;
    position: relative;
    width: 15%;
    text-align: center;
}

#footer {
    width: 100%;
    background: #1F7A8C;
    padding: 1rem;
    color: white;
    text-align: center;
}

.bread {
    font-size: 20px;
    font-family: 'Lato' sans-serif;
    font-weight: 500;
}

.submit-button {
        padding: 1rem;
        padding-right: 2rem;
        padding-left: 2rem;
        background: #1F7A8C;;
        color: white;
        text-align: center;
        font-family: 'Lato' sans-serif;
        font-weight: 300;
        font-size: 18px;
}

#back-button {
    background: #f9f9f9;
    font-family: "lato", sans-serif;
    font-weight: 400;
    font-size: 20px;
    height: 101%;
    display: table;
    width: 100%;
  }

  #back-column {
    padding: 0px;
  }

  #progress-bar {
      margin-bottom: 0px;
      position: fixed;
      bottom: 0rem;

  }

  #back-p {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    background: #f9f9f9;
    color: #1f7a8c;
    padding: 0.5rem;
  }
