body {
    width: 100%;
    background: #1f7a8c;
background: -webkit-linear-gradient(left, #1f7a8c, #79bcb8);
background: -moz-linear-gradient(left, #1f7a8c, #79bcb8);
background: -ms-linear-gradient(left, #1f7a8c, #79bcb8);
background: -o-linear-gradient(left, #1f7a8c, #79bcb8);
background: linear-gradient(to right, #1f7a8c, #79bcb8);
}

#page-container {
    margin: 0px;
    width: 100%;
    margin-bottom: 1rem;
}

#form-1 {
    /* width: 50%;  */
    margin: 0 auto; 
    border: solid; 
    border-width: .5rem;
    padding: 2.5rem;
    border-color: #1F7A8C;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    border-radius: 15px;
    background: #f9f9f9;
    /* box-shadow: 5px 5px 5px 5px #696969; */
    border: 1px solid #696969;
    box-shadow:  -1px 1px #696969,
         -2px 2px #696969,
         -3px 3px #696969,
         -4px 4px #696969,
         -5px 5px #696969;
    text-align: center;
}

.form-header {
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 35px;
    color: #696969;
    text-align: center;
}

.form-text {
    font-family: 'lato';
    font-weight: 400;
    font-size: 22px;
    color: #1F7A8C;
    text-align: center;
}