#page-container {
    width: 100vw;
    margin: 0px;
}

/* #top menu row  */
#top-menu-row {
    /* background-image: linear-gradient(to right top, #112941, #294860, #446a7f, #628e9f, #83b3bf); */
    /* background: #4CA1AF; 
      background: -webkit-linear-gradient(to right, #C4E0E5, #4CA1AF);  
      background: linear-gradient(to right, #C4E0E5, #4CA1AF);  */
    padding: 0px;
    background: #f9f9f9;
    /* border: solid;
    border-width: 0px 0px 2.5px 0px;
    border-color: black; */
  }
/* #landing grid  */
.top-button {
    padding: 0px;
    line-height: 1em;
  }

  #landing-grid {
    height: 100%;
    width: 100%;
    margin: 0px;
  }
/* #dashboard-column */

#dashboard-column {
    padding: 0px;
  }
  
  #dashboard {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    color: white;
    padding: 0.5rem;
  }
  
  #dashboard-button {
    background: #8b786d;
    font-family: "lato", sans-serif;
    font-weight: 400;
    font-size: 18px;
    height: 101%;
    display: table;
    width: 100%;
  }
/* ha logo  */
#ha-logo-image {
    height: 50px;
  }


/* ha title  */
#ha-title {
  font-size: 35px;
  /* font-family: 'Montserrat', sans-serif; */
  /* font-weight: 700; */
  font-family: "Raleway";
  font-weight: 500;
  /* color: #112941; */
  line-height: 1em;
  /* margin-left: 5rem; */
  color: #696969;
  display: inline;
}

#ha-contact {
  float: right;
  margin-right: 5rem;
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  /* color: #112941; */
  color: white;
}

#ha-title-column {
  padding-right: 0px;
}
/* sign in column  */
#sign-in-column {
    padding: 0px;
  }
/* sign in button  */
#sign-in-button {
    background: #696969;
    font-family: "lato", sans-serif;
    font-weight: 400;
    font-size: 20px;
    height: 101%;
    display: table;
    width: 100%;
  }
/* sign in  */
#sign-in {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    background: white;
    color: #1f7a8c;
    padding: 0.5rem;
  }
/* register column */
#register-column {
    padding: 0px;
  }
/* register  */
#register {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    color: black;
    padding: 0.5rem;
  }
/* listbusiness-button  */
#listBusiness-button {
    background: white;
    font-family: "lato", sans-serif;
    font-weight: 400;
    font-size: 20px;
    height: 101%;
    display: table;
    width: 100%;
  }

  #list-business-button {
    /* background-image: linear-gradient(to right top, #112941, #294860, #446a7f, #628e9f, #83b3bf); */
    color: white;
    background: rgba(39, 76, 119, 1);
    /* color: #112941; */
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    width: 100%;
    margin-bottom: 0.5rem;
  }
  
  #logout-button {
    background: #3aa7a3;
    font-family: "lato", sans-serif;
    font-weight: 400;
    font-size: 20px;
    height: 101%;
    display: table;
    width: 100%;
  }
  
  #saved-listings {
    background: #9dd9d2;
    font-family: "lato", sans-serif;
    font-weight: 400;
    font-size: 20px;
    height: 101%;
    display: table;
    width: 100%;
  }
/* top button  */
.top-button {
    padding: 0px;
    line-height: 1em;
  }


#back-button {
  font-family: "lato", sans-serif;
  font-weight: 400;
  font-size: 20px;
  height: 101%;
  display: table;
  width: 100%;
}
/* list business click  */

