#form-container {
    width: 50%; 
    margin: 0 auto;
    border: solid;
    border-width: 5px;
    padding: 2.5rem;
    border-color: rgba(39, 76, 119, 1); 
}

#form {
    position: relative;
    width: 50%; 
    align-self: center;
}

#register-form-header {
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}

#email {
    padding: 0px;
}