  
.nav-bar {
  width: 100%;
  margin: 0px;
  padding: 1.5rem;
  background: #3aa7a3;
  color: white;
  position: relative;
}



#page-container {
  width: 100vw;
  margin: 0px;
  max-height: 100vh;
  position: relative;
}

.nav-h1 {
  font-size: 40px;
  font-weight: 700;
  font-family: "Raleway" sans-serif;
  display: inline;
}

#home-button {
  padding: 0.75rem;
  float: right;
  background: white;
  color: black;
  position: relative;
  width: 15%;
  text-align: center;
}

#search-semantic {
    width: 33.3vw;
    border: none;
  }

#listings-column {
  /* border: solid;
    border-width: 0px 2.5px 2.5px 2.5px;
    border-color: #8b786d;  */
  padding: 2rem;
  margin-left: 0.5rem;
  min-height: 85vh;
  height: 90vh;
  display: block;
  overflow: scroll;
  overflow-x: hidden;
}
#listings-column::-webkit-scrollbar { width: 0 !important }
#listings-column { overflow: -moz-scrollbars-none; }
#listings-column { -ms-overflow-style: none; }


#preview-container {
  padding: 1.5rem;
  padding-top: 2.5rem;
}

#map-container {
  border: solid;
  border-width: 10px;
  border-color: #1f7a8c;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  max-height: 65vh;
}

#map {
  height: 100%;
  position: absolute;
  height: 100%;
  width: 100%;
}

#search {
  width: 100%;
}

#no-results-text {
  margin: 0 auto;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 25px;
  margin-top: 5rem;
}

#listing-column-title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 0.25rem;
}

.listingItem-search {
  border: solid;
  border-color: #2ca6a4;
  border-width: 2px;
  border-radius: 25px;
  position: relative;
  background: #f5f5f5;
}

.listingTitle-search {
  font-family: "Raleway";
  font-weight: 700;
  color: black;
  display: inline;
  font-size: 25px;
}

.listingSubtitle-search {
  font-family: "Lato";
  font-weight: 500;
  font-size: 16px;
  color: grey;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

#listing-tagline-search {
  font-family: "Lato";
  font-weight: 300;
  font-size: 16px;
  color: #696969;
  /* overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical; */
}

.image-container {
  position: relative;
  height: 100%;
}

.listing-image {
  position: relative;
  /* max-height: 100%; */
  height: 100%;
  max-width: 100%;
}

.listing-info-text {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: grey;
  margin: 0px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.tag, .listing-tagline-search {
    display: table-cell;
    vertical-align: top;
  }

 #back-column {
    padding: 0px;
  } 
  
  #back-button {
    background: #1f7a8c;
    font-family: "lato", sans-serif;
    font-weight: 400;
    font-size: 20px;
    height: 101%;
    display: table;
    width: 100%;
  }

  .marker-text {
      font-family: 'Raleway';
      font-weight: 700;
      font-size: 14px;
  }

  a:hover {
      color: #3aa7a3;
      text-decoration: underline;
  }

  #back-p {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    background: #f9f9f9;
    color: #1f7a8c;
    padding: 0.5rem;
  }

