  
.nav-bar {
  width: 100%;
  margin: 0px;
  padding: 1.5rem;
  background: #3aa7a3;
  color: white;
  position: relative;
}



#page-container {
  width: 100vw;
  margin: 0px;
  max-height: 100vh;
  position: relative;
}

.nav-h1 {
  font-size: 40px;
  font-weight: 700;
  font-family: "Raleway" sans-serif;
  display: inline;
}

#home-button {
  padding: 0.75rem;
  float: right;
  background: white;
  color: black;
  position: relative;
  width: 15%;
  text-align: center;
}

#search-semantic {
    width: 33.3vw;
    border: none;
  }

#listings-column {
  /* border: solid;
    border-width: 0px 2.5px 2.5px 2.5px;
    border-color: #8b786d;  */
  padding: 2rem;
  margin-left: 0.5rem;
  min-height: 85vh;
  height: 90vh;
  display: block;
  overflow: scroll;
  overflow-x: hidden;
}
#listings-column::-webkit-scrollbar { width: 0 !important }
#listings-column { overflow: -moz-scrollbars-none; }
#listings-column { -ms-overflow-style: none; }


#preview-container {
  padding: 1.5rem;
  padding-top: 2.5rem;
}

#map-container {
  border: solid;
  border-width: 10px;
  border-color: #1f7a8c;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  max-height: 65vh;
}

#map {
  height: 100%;
  position: absolute;
  height: 100%;
  width: 100%;
}

#search {
  width: 100%;
}

#no-results-text {
  margin: 0 auto;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 25px;
  margin-top: 5rem;
}

#listing-column-title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 0.25rem;
}

.listingItem-search {
  border: solid;
  border-color: #2ca6a4;
  border-width: 2px;
  border-radius: 25px;
  position: relative;
  background: #f5f5f5;
}

.listingTitle-search {
  font-family: "Raleway";
  font-weight: 700;
  color: black;
  display: inline;
  font-size: 25px;
}

.listingSubtitle-search {
  font-family: "Lato";
  font-weight: 500;
  font-size: 16px;
  color: grey;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

#listing-tagline-search {
  font-family: "Lato";
  font-weight: 300;
  font-size: 16px;
  color: #696969;
  /* overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical; */
}

.image-container {
  position: relative;
  height: 100%;
}

.listing-image {
  position: relative;
  /* max-height: 100%; */
  height: 100%;
  max-width: 100%;
}

.listing-info-text {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: grey;
  margin: 0px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.tag, .listing-tagline-search {
    display: table-cell;
    vertical-align: top;
  }

 #back-column {
    padding: 0px;
  } 
  
  #back-button {
    background: #1f7a8c;
    font-family: "lato", sans-serif;
    font-weight: 400;
    font-size: 20px;
    height: 101%;
    display: table;
    width: 100%;
  }

  .marker-text {
      font-family: 'Raleway';
      font-weight: 700;
      font-size: 14px;
  }

  a:hover {
      color: #3aa7a3;
      text-decoration: underline;
  }

  #back-p {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    background: #f9f9f9;
    color: #1f7a8c;
    padding: 0.5rem;
  }

  * {
    box-sizing: border-box;
  }
  
  .main-page {
    padding: 0;
    font-size: 0;
    line-height: 0;
    box-sizing: border-box;
  }
  
  /*************** Search-Box start here ************/
  
  .search {
    width: 100%;
    font-size: 0;
    line-height: normal;
    margin-bottom: 10px;
    /* background: #f9f9f9; */
    /* margin-left: .5rem; */
  }
  
  /***** Categories box style ****
  ********************************/
  
  
  
  .left-side {
    position: relative;
    display: inline-block;
    width: 42.5%;
    box-sizing: border-box;
    vertical-align: middle;
    text-align: center;
  }
  
  .left-side__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .left-side::before {
    position: absolute;
    top: 6px;
    right: -1px;
    content: '';
    width: 1px;
    height: 30px;
    border-right: 1px solid #ccc;
    z-index: 2;
  }
  
  .field-wrapper {
    box-sizing: border-box;
    position: relative;
  }
  
  .field {
    display: inline-block;
    box-sizing: border-box;
    font-size: 18px;
    padding: 11px 0 14px 58px;
    outline: none;
    background: #f9f9f9;
    border: solid;
    border-color: #1f7a8c;
    border-radius: 4px;
  }
  
  .field.request {
    position: relative;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    font-size: 18px;
    outline: none;
    border: 0;
    border-radius: 4px 0 0 4px;
  }
  
  .field.location {
    position: relative;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    font-size: 18px;
    outline: none;
    border: 0;
    border-radius: 0;
  }
  
  .field-title {
    position: absolute;
    top: -30.5px;
    left: 11px;
    font-size: 18px;
    font-family: 'Raleway';
    font-weight: 700;
    color: #666;
    z-index: 999;
  }
  
  .field-title.find {
    position: absolute;
    top: -33px;
  }
  
  .left-side__sublist {
    display: none;
    width: inherit;
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 4px;
  }
  
  .left-side__subitem {
    position: relative;
    text-align: center;
  }
  
  .left-side__sublink {
    display: inline-block;
    width: 300px;
    background-color: #fff;
    color: #333;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 18px;
    font-stretch: condensed;
    padding: 7px 7px 7px 37px;
    box-sizing: border-box;
  }
  
  
  
  .field:focus ~ .left-side__sublist {
    position: absolute;
    display: block;
    margin-bottom: 0;
    padding-bottom: 0;
    border-radius: 0 0 4px 4px;
    border-top: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  .field.request:focus {
    border-radius: 4px 0 0 0;
  }
  
  .left-side__sublink:hover {
    background-color: #0173BA;
    color: #fff;
  }
  
  /* right-side */
  
  .right-side {
    display: inline-block;
    width: 42.5%;
    box-sizing: border-box;
    margin-left: 0;
    vertical-align: middle;
    text-align: center;
  }
  
  .field-title.near {
    position: absolute;
    top: -34px;
  }
  
  .field.near::-webkit-input-placeholder { 
    color: #000;
  }
  
  /* right-side dropdown */
  
  .right-side__sublist {
    position: absolute;
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 4px;
  }
  
  .right-side__subitem {
    position: relative;
  }
  
  .right-side__sublink {
    position: relative;
    display: inline-block;
    width: 250px;
    background-color: #fff;
    color: #333;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
    font-stretch: condensed;
    padding: 7px 7px 7px 37px; 
    box-sizing: border-box;
  }
  
  .right-side__sublink.state {
    border-radius: 0 0 4px 4px;
  }
  
  .right-side__sublink.current {
    color: #0073BB;
  }
  
  .right-side__sublink:hover {
    color: #fff;
    background-color: #0073BB;
  }
  
  .right-side__sublink.current:before {
    content: '';
    position: absolute;
    top: 5px;
    left: 10px;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    /* background-image: url(https://s26.postimg.org/r1a5huswp/location.png); */
    background-position: center center;
    background-repeat: no-repeat;
  }
  
  .right-side__sublink.current:hover::before {
    content: '';
    position: absolute;
    top: 5px;
    left: 10px;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    /* background-image: url(https://s26.postimg.org/9roq2ti9l/location_blue.png); */
  }
  
  .field:focus ~ .right-side__sublist {
    display: block;
  }
  
  /* /right-side dropdown */
  
  /* right-side button */
  
  .search_button {
    display: inline-block;
    height: 45px;
    width: 15%;
    box-sizing: border-box;
    background-color: #1f7a8c;
    /* background-image: url(https://s26.postimg.org/v8mlp8w49/search.png); */
    background-repeat: no-repeat;
    background-position: 17px 8px;
    color: white;
    padding: .5rem;
    font-size: 22.5px;
    vertical-align: top;
    border-radius: 0 4px 4px 0;
  }

