#noAccount {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

body {
    background: #1F7A8C;
        margin: 0px;
        width: 100vw;
}

#page-container {
    background: #1F7A8C;
    height: 85vh;
    width: 100vw;
    margin: 0px;
}

#form-container {
    background: white ;
    color: black;
    padding: 5rem;
   
}

#signIn-text {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 25px;
    color: #696969;
    line-height: 1.5em;
}

#form {
    padding: 1.5rem;
}

#back {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    color: white;
    padding: 0.5rem;
  }

#signIn-form-header {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 25px;
    color: #696969;
    text-align: center;
}

#password {
    padding: 1rem;
}

#email {
    padding: 1rem;
}

.ha_button {
    text-align: center;
    background: #1F7A8C;
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    padding: 1.2rem;
    font-size: 22px;
    width: 35%;
    
}

#header-row {
    background: #446a7f;
    padding: 0.5rem;
  }
  
  .header-text {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: white;
    text-decoration: underline;
  }
  
  #list-business-button {
    /* background-image: linear-gradient(to right top, #112941, #294860, #446a7f, #628e9f, #83b3bf); */
    color: white;
    background: rgba(39, 76, 119, 1);
    /* color: #112941; */
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    width: 100%;
    margin-bottom: 0.5rem;
  }
  .box-button {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    width: auto;
    margin-bottom: 0.5rem;
    background: #1f7a8c;
    text-align: center;
    transition: all 0.5s;
    cursor: pointer
  }
  .box-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  .box-button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  .box-button:hover span {
    padding-right: 25px;
  }
  
  .box-button:hover span:after {
    opacity: 1;
    right: 0;
  }
  
  .header-icon-color {
    color: white;
  }
  
  /* landing */
  #top-menu-row {
    /* background-image: linear-gradient(to right top, #112941, #294860, #446a7f, #628e9f, #83b3bf); */
    /* background: #4CA1AF; 
      background: -webkit-linear-gradient(to right, #C4E0E5, #4CA1AF);  
      background: linear-gradient(to right, #C4E0E5, #4CA1AF);  */
    padding: 0px;
    background: #f9f9f9;
    /* border: solid;
    border-width: 0px 0px 2.5px 0px;
    border-color: black; */
  }
  
  #sign-in-column {
    padding: 0px;
  }
  
  #sign-in-button {
    background: #696969;
    font-family: "lato", sans-serif;
    font-weight: 400;
    font-size: 20px;
    height: 101%;
    display: table;
    width: 100%;
  }
  
  .top-button {
    padding: 0px;
    line-height: 1em;
  }
  
  #sign-in {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    background: white;
    color: #1f7a8c;
    padding: 0.5rem;
  }
  
  #register-column {
    padding: 0px;
  }
  
  #listBusiness-button {
    background: white;
    font-family: "lato", sans-serif;
    font-weight: 400;
    font-size: 20px;
    height: 101%;
    display: table;
    width: 100%;
  }
  
  #logout-button {
    background: #3aa7a3;
    font-family: "lato", sans-serif;
    font-weight: 400;
    font-size: 20px;
    height: 101%;
    display: table;
    width: 100%;
  }
  
  #saved-listings {
    background: #9dd9d2;
    font-family: "lato", sans-serif;
    font-weight: 400;
    font-size: 20px;
    height: 101%;
    display: table;
    width: 100%;
  }
  
  #register {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    color: black;
    padding: 0.5rem;
  }