html {
    scroll-behavior: smooth;
  }; 

  body {
      margin: 0px;
  }

/* main container */
#page-container {
    /* height: 80vh;  */
    width: 100vw; 
    /* background-image: url('../images/test.jpg');
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;  */
    margin: 0px;
}

/* top header  */
#header-row {
    background: #446a7f;;
    padding: .5rem;
}

.header-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: white;
    text-decoration: underline;
}

#list-business-button {
    /* background-image: linear-gradient(to right top, #112941, #294860, #446a7f, #628e9f, #83b3bf); */
    color: white;
    background: rgba(39, 76, 119, 1);
    /* color: #112941; */
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    width: 100%;
    margin-bottom: .5rem;
}

.header-icon-color {
    color: white;
}

/* landing */
#landing-row {
    background-image: linear-gradient(to right top, #112941, #294860, #446a7f, #628e9f, #83b3bf);

    height: 100vh;
    padding-bottom: 0px;
    padding-top: 0px;
}

#landing-grid {
    height: 100%; 
    width: 100%; 
    margin: 0px;
}

#ha-title {
    font-size: 48px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    /* color: #112941; */
    line-height: 1em;
    margin-left: 5rem;
    color: white;
}

#ha-contact {
    float: right;
    margin-right: 5rem;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    /* color: #112941; */
    color: white;
}

#ha-title-column {
    padding-right: 0px;
}

#menu-links-column {
    padding-left: 0px;
}

.menu-links {
    float: left; 
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
    padding: 1rem;
    /* color: #112941; */
    color: white;
    margin-top: 4rem;
}

#landing-search-row {
    height: 50vh;

}

#landing-search {
    margin-left: 8rem;
    padding-top: 0px;
    width: 100%;
}

#landing-inner-row {
    height: 25vh;
    padding-top: 2rem;
}

#search-title {
    font-size: 45px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: white;
    margin-left: 8rem;
    line-height: 1.2em;
    margin-bottom: 1rem;
}

#landing-bottom-row {
    background: #F7F5EA; 
}

#search-subtitle {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 20px;
    margin-left: 8rem;
    color: white;
}

#landing-card {
    background: white;
    height: 100%;
    width: 75%;
    margin-left: 5rem;
    padding: 2rem;
    margin-bottom: 2rem;
}

#landing-card-header {
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    padding-bottom: 0px;
    margin-bottom: 1rem;
}

#landing-card-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.notWhite-header-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 40px;
}

#works-header {
    margin-top: 3.5rem;
    margin-bottom: 2rem;
}

.text {
    font-family: 'Monteserrat', sans-serif;
    font-weight: 300;
    font-size: 16px;
}

.logo-images {
    height: 175px;
    width: 175px;
    margin: 3rem;
    margin-top: 0rem;
    margin-bottom: 1rem;
}

#works-text {
    margin-right: 12.5%;
    margin-left: 12.5%;
    color: #444444;
}

.logo-text {
    font-family: 'Monteserrat', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #444444;
}

.logo-header {
    font-family: 'Monteserrat', sans-serif;
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 1rem;
    opacity: 90%;
}

#logo-column {
    padding: 1.5rem;
}

#why-row {
    background: white;
}

#dermatologist {
    height: 75%;
    width: 100%;
}

#tricho {
    height: 75%;
    width: 100%;
}

#laser {
    height: 75%;
    width: 100%;
}

#extensions {
    height: 75%;
    width: 100%;
}

#salon {
    height: 75%;
    width: 100%;
}

#transplant {
    height: 75%;
    width: 100%;
}

#systems {
    height: 75%;
    width: 100%;
}

#products {
    height: 75%;
    widows: 100%;
}

#category-container {
    width: 100%;
}

.categories-labels {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
}

#about-row {
    /* background: rgba(96, 150, 186, 1); */
    background-image: linear-gradient(to right top, #112941, #294860, #446a7f, #628e9f, #83b3bf);

    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-left: 7rem;
    padding-right: 0rem;

    /* padding-left: 10rem; */
}

.why-subtitles {
    font-family: 'Monteserrat', sans-serif;
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 1rem;
    color: white;
}

.why-subtext {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: white;
}

#category-container {
    background: rgba(231, 236, 239, 1);
    padding: 1rem;
    margin-bottom: 1rem;
}

#list-business {
    background: #F7F5EA;

}

#category-row {
    padding-bottom: 0px;
}

#category-row-2 {
    padding-bottom: 0px;
}

#logo-grid {
    padding-left: 11rem;
    padding-right: 11rem;
}

#list-form-segment {
    margin-left: 3rem;
    background: #B9B497;
}

#list-submit-button {
    width: 100%;
    background: rgba(39, 76, 119, 1);
    color: white;
}

#form-container {
    background: #446a7f;
    /* background: #B9B497; */
    color: white;
    padding: 3.5rem;
}

#list-form-text {
    color: white;
}

#list-text-grid {
    margin-top: 4rem;
}

.list-text-column {
    padding-left: 0px;
    margin-right: 5rem;
}

.list-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #404B4F;
}

#claim-image-column {
    padding-right: 0px;
}

.big-header-text {
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    /* color: #112941; */
    line-height: 1em;
    margin-left: 5rem;
    color: white;
}

#footer-row {
    background-image: linear-gradient(to right top, #112941, #294860, #446a7f, #628e9f, #83b3bf);
}

.footer-search-form {
    width: 350px;
    height: 40px;
    margin-left: 12.5rem;
    margin-top: 3rem;
    border-radius: 40px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background: #fff;
    transition: all 0.3s ease;
}

#copyright-column {
    margin-top: 1rem;
}

#copyright {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: white;
    margin-top: 1rem;
}

#icons {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#search-semantic {
    width: 33.3vw;
    margin-left: 8rem;
}

.center-description {
    text-align: center;
}

#testimonial-row {
    background-image: url(../images/landing-4-overlay2.jpg);
    height: 75vh;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;  
}

.testimonial-text {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 100;
    color: white;
    margin-bottom: .5rem;
}

.quote-text {
    font-family: 'Montesserat', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: white;
}

@media only screen and (max-width: 600px) {
    #ha-title {
        margin-left: 0px;
    }
    .menu-links {
        margin-top: 0px;
    }
    #landing-search-row {
        height: 70vh;
        text-align: center;
    }
    #search-title {
        margin-left: 0px;
        font-family: 'Monteserrat', sans-serif;
        font-weight: 700;
        font-size: 40px;
        margin-top: 5rem;
    }
    #search-subtitle {
        margin-left: 0px;
    }
    #landing-card {
        margin-left: 3.5rem;
    }
    #landing-bottom-row {
        height: 50%;
    }

    #about-row {
        padding: 2rem;
    }

    .list-text-column {
        margin: 0px;
    }

    #list-text-grid {
        width: 95vw;
    }

    #footer-header-column {
        text-align: center;
    }

    .big-header-text {
        margin-left: 0px;
    }
   
  }
